{{#allParams}}{{#isBodyParam}}@Body {{/isBodyParam}}{{^isBodyParam}}{{#isPathParam}}@Path('{{paramName}}') {{/isPathParam}}{{^isPathParam}}{{#isQueryParam}}@Query('{{paramName}}') {{/isQueryParam}}{{/isPathParam}}{{/isBodyParam}}_{{paramName}}: {{{dataType}}}{{^-last}}, {{/-last}}{{/allParams}}